:root { 
--gray_301:#e1e6e7; 
--red_A200:#fd5445; 
--blue_500:#2ea0da; 
--blue_501:#2ca0da; 
--bluegray_100:#cecfd0; 
--orange_500:#ff9900; 
--red_400:#f06151; 
--gray_200:#eeeeee; 
--orange_300_35:#fbbc5d35; 
--orange_300:#fbbd5e; 
--gray_300:#e0e4e8; 
--bluegray_900:#183651; 
--white_A700_33:#ffffff33; 
--teal_300:#4fbf9f; 
--deep_orange_200_33:#ffa18d33; 
--black_900:#000000; 
--bluegray_100_00:#d9d9d900; 
--deep_orange_300:#ff8064; 
--deep_orange_200:#ffa18d; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
--bluegray_100_19:#d9d9d919; 
--bluegray_901:#173651; 
}